{% extends "base.html" %}
{% block title%}Student list{% endblock %}
{% block content %}
<table class="table">

    <thead>
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>GENDER</th>
        <th>COURSES</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for student in data %}
    <tr>
        <td>
        {% if student.image %}
        <img src="{{ student.image.url }}" alt="" style="width: 80px; height:80px">
        {% else %}
        <img src="../../media/student_images/default-avatar-photo-placeholder-profile-icon-vector.jpg" alt="" style="width: 80px; height:80px">
            {% endif %}
        </td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.courses}}</td>
        <td><a href="{% url 'editstudent' student.id %}"  class="btn btn-success" type="button">Edit Student</a></td>
        <td><a href="{% url 'deletestudent' student.id%}" type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete')">DELETE STUDENT</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--<button class="btn btn-success" type="submit">Edit</button>-->
{% endblock %}